body {
  background: linear-gradient(45deg, #FFD6C3, #FCB5FF, #BEC6FF);
    margin: 0;
    padding: 0;
    height: 100%
}
.container {
  display:flex;
  width: 393px;
padding-top: 15px;
margin-top: 24px;
  justify-content: space-between;
}
t1 {
  position: relative;
  color:#FFFFFF;
  padding-left: 145px;
  bottom: 0px;
  top: 10px;
  font-size: 1.2em ;
}
svg {
  position:absolute;
  font-size : 0.5em;;
  padding-left: 3px;
  padding-top: 10px;
}
#Svg1 {
  position: absolute;
  padding-left: 335px;
  margin-top: 12px;
}
#Svg2 {
 padding-top: 30px;
}
t2 {
  position:absolute;
  padding-left: 140px;
  color: #FFFFFF;
  margin-top: 75px;
  
}
t3 {
  position:absolute;
  padding-left: 190px;
  color: #FFFFFF;
  margin-top: 75px;
}
t4 {
  position:absolute;
  padding-left: 270px;
  color: #FFFFFF;
  margin-top: 75px;
}
num {
  position:absolute;
  padding-left: 145px;
  color: #FFFFFF;
  margin-top: 58px; 
}
num1 {
  position:absolute;
  padding-left: 205px;
  color: #FFFFFF;
  margin-top: 58px;
}
num2 {
  position:absolute;
  padding-left: 290px;
  color: #FFFFFF;
  margin-top: 58px;
}
span {
  position:absolute;
  color:#FFFFFF;
  padding-top: 140px;
  padding-left: 20.35px;
}
span1 {
  position:absolute;
  color:#8E8E8E;
  padding-top: 157px;
  padding-left: 20.35px;
  font-size: small;
}
span2 {
  position:absolute;
  color:#D4E0ED;
  padding-top: 170px;
  padding-left: 20.35px;
  font-size: small;
}
#Svg3{
  position: relative;
  padding-top: 200px;
  width: 27%;
}
#Svg4{
  position: relative;
  padding-top: 200px;
  width: 27%;
  padding-left: 3px;
}
#Svg5 {
  position: relative;
  padding-top: 200px;
  width: 27%;
  padding-left: 3px; 
}
#Svg6 {
  position: absolute;
  width: 9%;
  padding-top: 200px;
  padding-left: 3px;
}
#Svg7 {
  position: relative;
}
#Svg8 {
  position: relative;
}
#Svg9 {
  position: relative;
}
#Svg9 {
  position: relative;
}
#Svg10 {
  position: relative;
}
#Svg11 {
  position: relative;
}
#Svg12 {
  position: relative;
}
#tab {
  position: absolute;
  bottom: 0px;
  left: 0px;
 margin-top: 15px;
  width: 100%;
  height: 90px;
  border-radius: 30px;
}




